@layer utilities {
    .content-auto {
      content-visibility: auto;
    }
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
    }
}
